spring:
  profiles: default
server:
  port: 8010
eureka:
  instance:
    hostname: eurekahost
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/